<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenido a nuestra Aplicación</h1>
    <p class="lead">Explora países, aprende sobre sus culturas y descubre información valiosa.</p>
    <hr class="my-4">
    
    <p>Elige una opción de navegación para comenzar:</p>
    <div>
      <a routerLink="/countries/by-pais" class="btn btn-secondary btn-lg mx-2">Por País</a>
      <a routerLink="/countries/by-capital" class="btn btn-secondary btn-lg mx-2">Por Capital</a>
      <a routerLink="/countries/by-region" class="btn btn-secondary btn-lg mx-2">Por Región</a>
      <a routerLink="/about" class="btn btn-secondary btn-lg mx-2">Acerca de</a>
      <a routerLink="/contact" class="btn btn-secondary btn-lg mx-2">Contacto</a>
    </div>
    
</div>