<div class="container mt-5">
    <h1 class="text-center display-4 mb-4">Acerca de Nuestra Aplicación</h1>
    
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Nuestra Misión</h2>
        <p class="card-text">
          Nuestra misión es proporcionar a los usuarios una forma sencilla y accesible de aprender sobre el mundo que nos rodea. Creemos que el conocimiento es poder y queremos empoderar a nuestros usuarios con información útil y precisa.
        </p>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">¿Qué Puedes Hacer Aquí?</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Buscar países por nombre, capital o región.</li>
          <li class="list-group-item">Ver detalles de cada país, incluida la población y la bandera.</li>
          <li class="list-group-item">Acceder a información actualizada y relevante sobre cada nación.</li>
        </ul>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Contáctanos</h2>
        <p class="card-text">
          Si tienes alguna pregunta o comentario, no dudes en <a routerLink="/contact" class="btn btn-primary">contactarnos</a>.
        </p>
      </div>
    </div>
</div>
  
  